body {
    background-color: #edc8b3;
}

article {
    border: 4px solid #B55787;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    size: 24px;
    text-align: center;
    color:#B55957;
    font-weight: bold;
}

h2 {
    text-align: center;
    color:#9e3634;
}

p {
    width: 60%;
    padding: 30px;
    margin: 10px;
    border: 3px solid #5d1f3f;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    size: 14px;
    text-align:center;
    color: white;
    font-weight: bold;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

time {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: arial;
    size: 11px;
    color: white;
    font-weight: bold;
}

a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}